<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3><b>{{dish.name | uppercase}}</b></h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + dish.image}}" alt="{{ baseURL +dish.name}}">
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="dish || dishErrMsg">
  <mat-spinner></mat-spinner><h3>Please Wait!</h3>
</div>
<div fxFlex *ngIf="dishErrMsg">
  <h3>Error</h3>
  <h4>{{dishErrMsg}}</h4>
</div>

<mat-card *ngIf="promotion" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3><b>{{promotion.name | uppercase}}</b></h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL+ promotion.image}}" alt="{{ baseURL+ promotion.name}}">
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="promotion || promotionErrMsg">
  <mat-spinner></mat-spinner><h3>Please Wait..</h3>
</div>
<div fxFlex *ngIf="promotionErrMsg">
  <h3>Error</h3>
  <h4>{{promotionErrMsg}}</h4>
</div>

<mat-card *ngIf="leader" fxFlex [@expand]>
  <mat-card-header>
    <mat-card-title>
      <h3><b>{{leader.name | uppercase}} {{leader.abbr}}</b></h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL +leader.image}}" alt="{{baseURL+ leader.name}}">
  <mat-card-content>
  <mat-card-subtitle>
    <span>{{leader.designation}}</span>
  </mat-card-subtitle>
     <p>{{leader.description}}</p>
  </mat-card-content>
</mat-card>
<div [hidden]="leader || leaderErrMsg">
  <mat-spinner></mat-spinner><h3>Please Wait..</h3>
</div>
<div fxFlex *ngIf="leaderErrMsg">
  <h3>Error</h3>
  <h4>{{leaderErrMsg}}</h4>
</div>

</div>
